* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

input{
    padding: 10px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
body {
background-color: rgb(147, 255, 210);

}

button {
padding: 10px;
width: 130px;
margin-top: 20px;
}

.card{
    padding-top: 50px;
}